* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.menu {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.logo {
  border: 1px solid black;
  border-radius: 100%;
  padding: 1%;
  margin-right: 3%;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 8%;
  font-size: 1.3em;
}

.meal {
  font-weight: 600;
  text-underline-position: under;
  text-decoration: underline;
}

footer {
  height: 90px;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 20px;
  color: #fff;
  border: 1px solid black;
  font-weight: 500;
  padding-left: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  background-color: #0a0a23;
  opacity: 70%;
}

.card {
  width: 80%;
  padding: 10px;
  margin: 40px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.meal-list {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style: none;
  width: 35%;
}

.meal-img {
  width: 100%;
}

.meal-h4 {
  display: flex;
  justify-content: space-between;
}

.likes-value {
  display: flex;
  justify-content: flex-end;
}

.likesBtn {
  background-color: transparent;
  border: none;
}

.comment-btn {
  width: 60%;
  height: 30px;
  font-size: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #0a0a23;
  opacity: 70%;
  color: #fff;
  border: none;
}

.comment-btn:hover {
  background-color: #0a0a23;
  opacity: 100%;
}

.fa {
  font-size: 24px;
  color: maroon;
}

.fa:hover {
  color: red;
}

.close {
  margin: 0;
  position: absolute;
  font-size: 4rem;
  font-weight: 500;
  top: 1%;
  left: 80%;
  cursor: pointer;
}

.popup {
  display: none;
  width: 90%;
  position: fixed;
  z-index: 99999;
  background-color: white;
  border: 2px black solid;
  padding: 1%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-top: 1.3%;
  text-align: center;
  max-height: calc(100vh - 9%);
  overflow-y: scroll;
}

.popup img.popup-img {
  max-width: 30%;
  margin-bottom: 1%;
}

.food-name {
  margin-bottom: 2%;
}

.food-info {
  display: flex;
  justify-content: space-between;
}
